*.bin
*.o
daedalus_host
qemu_log*.txt
*.iso
*.iso.tmp
.idea/
kernel_qemu/*.o
kernel/*.o

# Ignore local setup/docs scripts and logs
README_SETUP.sh
build_iso.sh
run_qemu.sh
qemu_log.txt
qemu_log2.txt

# Ignore all markdown files...
*.md
# ...except README.md
!README.md

